<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Toys!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
    body {
        text-align: center;
        
    }
    .jumbotron {
        text-align: center;
        font-family: optima;
        background: black;
        color: black;
        opacity: 0.8;
        background-image: url("https://images.blogthings.com/thecolorfulpatterntest/pattern-1.png");
    }

    a,
    a:link {
        color:inherit;
        text-decoration: none;

    }

    </style>
</head>

<body>
<div class="jumbotron"> <h1><a href="/toys">My Virtual Toy Collection!</a></h1></div>
    {% block content %} 
        <br>Click <a href="{{url_for('submit')}}"><b>here</b></a> to submit a new toy! <br><br><br> 
        <div class="container"><div class="row">
        {% for toy in toys %}
            <div class="col-md-3 col-xs-6"><h3><a href = "/toys/{{ toy.id }}">{{ toy.name.title() }}</a></h3><img src={{ toy.image_url }} style="width:60%"></div>
        {% endfor %}
        </div></div>
    {% endblock %}
</body>

</html>
